@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100vw;
	color: #fff;
	background-color: #151515;
	overflow-x: clip;
}

h1 {
	text-align: center;
	margin: 2rem;
}

h2 {
	height: 4rem;
	width: 100%;
	text-align: center;
}

h3 {
	text-align: center;
	margin: 0.5rem 0;
}

.options {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}

.option {
	cursor: pointer;
	height: 20%;
	width: 27%;
	max-width: 280px;
	aspect-ratio: 1/1;
	transition: all 0.2s linear;
}

.option:active {
	transform: scale(0.9);
}

img {
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	pointer-events: none;
	box-shadow: 0 0 0.5rem #000;
}

.caption {
	font-size: 0.7rem;
	font-weight: 200;
}

.displays {
	width: 100%;
	max-width: 1000px;
	margin: 5rem auto;
	display: flex;
	justify-content: space-evenly;
}

.display {
	height: 10rem;
	width: 15rem;
}

#player-display,
#pc-display {
	height: 5rem;
	width: 8rem;
	margin: 1rem auto;
	background-color: #000;
	border-radius: 0.5rem;
	box-shadow: 0 0 0 0.1rem #00ff80;
	display: grid;
	place-items: center;
}
