/* GOOGLE FONTS IMPORT [RALEWAY] */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

/* DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100vw;
	color: #fff;
	background-color: #101010;
	overflow-x: hidden;
}

h1 {
	text-align: center;
	margin: 2rem;
}

h2 {
	height: 4rem;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.container {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.options {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.option {
	cursor: pointer;
	height: 15rem;
	width: 25%;
	border: 1px solid #ff0000;
}

.displays {
	width: 100%;
	margin-top: 5rem;
	display: flex;
	justify-content: space-evenly;
}

.display {
	height: 5rem;
	width: 20%;
	border: 1px solid cyan;
}
